/* Fonts */
@font-face {
    font-family: monogram;
    src: url(monogram.ttf);
}
  
@font-face {
    font-family: stardew_all_caps;
    src: url(Stardew_Valley_ALL_CAPS.ttf);
}

@font-face {
    font-family: stardew_regular;
    src: url(Stardew_Valley.ttf);
}
  
/* General Styles */
body {
    font-family: monogram, monospace;
    font-size: 2rem;
    overflow: hidden;
}
  
/* Textbox */
#textbox {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: rgba(247,187,106,255);
    border-radius: 3px;
    outline-style: solid;
    outline-color: #853605;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem #5b2b2a);
}
  
/* Game Container */
#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Initially hide the game container */
}
  
#game {
    display: block;
    outline: none;
}
  
/* UI Text */
.ui-text {
    margin: 0;
    user-select: none;
}
  
.ui-close-btn {
    color:#5b2b2a;
    font-family: inherit;
    background: #853605;
    outline-style: solid;
    outline-color: #853605;
    font-size: inherit;
    border-color: #f0943b; 
    padding: 0.5rem 1rem;
    text-align: center;
}
  
.btn-container {
    align-self: flex-end;
}

/* Title Screen */
#title-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(./stardew_valley_background.jpeg);
}

/* Title */
.heading {
    position: absolute;
    text-align: center;
    user-select: none;
    font-family: stardew_all_caps;
    color: #e67943;
    font-size: 10rem;
    margin-bottom: 20%;
}

/* Title Screen Buttons */
#title-screen .options {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 30%;
}
  
#title-screen .options button {
    cursor: pointer;
    color: #d57052;
    font-family: stardew_regular;
    background: #fdd687;
    outline-style: solid;
    outline-color: #853605;
    font-size: inherit;
    border-color: #f0943b;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 15px;
}
  
#title-screen .options button:hover {
    color: white;
    cursor: pointer;
}
